

.main{
    width: 50vw;
    height: 75vh;
    background-color: #54bde1;
    border-radius: 50px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_main{
    width: 98%;
    height: 78%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    gap: 30px;
    margin-top: 50px;
}
.heading{
    font-size:70px;
    font-family: 'Roboto Mono', monospace;
}




#time{
    font-size:60px;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn{
    width: 130px;
    height: 40px;
    padding: 4px;
    cursor: pointer; 
    border: 5px solid black;
}

.disabled{
    cursor:not-allowed;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}